# PyCharm
.idea/

# Byte-compiled
__pycache__

# Unit test / coverage reports
.coverage
.coverage.*
.mypy_cache
.pytest_cache
.tox
coverage.xml

# Documentation
docs/_build

# Distribution / packaging
build
dist
*.egg-info/

# Pyenv
.python-version

.vscode
openh264-1.8.0-win64.dll
Pipfile.lock
Pipfile
